<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <title>Article edition</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header th:insert="blocks/header :: header"></header>
        <main>
            <div class="container mt-5 mb-5">
                <h1>Article edition</h1>
                <div th:each="el : ${post}">
                    <form method="post">
                        <input type="text" th:value="${el.title}" name="title" placeholder="Enter the title of the article" class="form-control"><br>
                        <input type="text" th:value="${el.announcement}" name="announcement" placeholder="Enter the announcement of the article" class="form-control"><br>
                        <textarea name="fullText" placeholder="Enter the full text of the article" class="form-control" th:text="${el.fullText}"/><br>
                        <label>Add image:  <span><input type="file" name="fileImg" id="fileImage" accept="image/png, image/jpeg"></span></label><br><br>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </main>
        <!-- FOOTER -->
        <footer th:insert="blocks/footer :: footer"></footer>
    </div>
</body>
</html>